<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <title>Exercises</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
</head>
<div class="nav">
  <div>
    <a href="/api/all">All as a JSON</a> &nbsp;||&nbsp;
    <a href="/api/beg_exercises">Easy Beginner Exercises</a> &nbsp;||&nbsp;
    <a href="/api/most_diff">Most Difficult Exercise(s)</a> &nbsp;||&nbsp;
    <a href="/api/most_dangerous">Exercises to Avoid if You are Old</a> &nbsp;||&nbsp;
    <a href="/api/cannons">Do These if You want CANNONS</a> &nbsp;||&nbsp;
    <a href="/api/quick">For When You're Short on Time</a>
  </div>
</div>

<body>
  <button type="button" id="home" onclick = "location.href = '/';" >Home</button> <p id = "pbutton"></p>
  <button type="button" id="createNew" onclick = "location.href = '/create';" >Enter an Exercise</button> <p id = "pbutton"></p>{{{body}}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>


</body>

</html>
